<html>
<head>
	<title>Loaded Form</title>
	<style>
body { 
	background-color: #7FFFD4;
	color: #191970;
	font-family: "Georgia", serif;
}
</style>
<script>
function getCookie(username) {
    var name = username + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
    }
    return "";
}

function checkCookie() {
    var user = getCookie("username");
    if (!user) {
        window.location.href="http://localhost:5000/login";
        }
    }
</head>
<body onpageshow="getCookie();checkCookie();">

{% if data %}
	{% for i in keys %}
		<h4>{{i}}</h4>
			<p>{{data[0][i]}}</p>
	{% endfor %}
{% else %}
	<p> no data </p>
{% endif %}
</body>
</html