<!DOCTYPE html>
<html>
<head>
<style>
body { 
	background-color: #7FFFD4;
	color: #191970;
	font-family: "Georgia", serif;
}
</style>	
<title> Advise Interview Login </title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<h1>LOGIN</h1>
<div class="login-box">
UserName:<input class="usr" type="text" name="UserName">
<br>
Password: <input class="psw" type="Password" name="Password">
<br>
<button onclick="login()">Submit</button>
</div>
<script>
var login = function () {
	var username = $('.usr').val();
	var password = $('.psw').val();
	console.log(username, password);
	$.ajax({
		type: 'POST',
		url: "http://localhost:5000/login",
		data: {'username': username, 'password': password}
	}).done(function (res) {
		console.log(res);
		if (res === "login accepted") {
			document.cookie = "username" + "=" + username;
			window.location.href="http://localhost:5000/interviews";
		} else {
			$('.login-box').append("<p style='color: red'> Username/Password combination incorrect</p>");
			}
	})
}
</script>
<a href="/forgot"> Forgot Password? </a>
<br>
<a href="/accounts"> Create Account</a>
</form>
</body>
<html>